{% extends 'main.html' %} {% block header %} Create Lead {% endblock header %}
{% block title %}
<h1>DJ CRM | Register</h1>
{% endblock title %} {% block content %}
<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Register to DJ CRM
      </h1>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-col flex-wrap -m-2">
          <div class="p-2 w-full">
            <div class="relative">
              <label class="leading-7 text-sm text-gray-600"
                >{{form.username.label}}</label
              >
              {{form.username }}
              {% if form.username.errors %}
                {% for error in form.username.errors %}
                <p style="font-size: 13px;" class="text-red-500 my-2">
                    {{ error|escape }}
                </p>
                {% endfor %}
                {% endif %}
            </div>
          </div>
          
          <div class="p-2 w-full">
            <div class="relative">
              <label class="leading-7 text-sm text-gray-600"
                >{{form.user_type.label}}</label
              >
              {{form.user_type }}
               {% if form.user_type.errors %}
                {% for error in form.user_type.errors %}
                <p style="font-size: 13px;" class="text-red-500 my-2">
                    {{ error|escape }}
                </p>
                {% endfor %}
                {% endif %}
            </div>
          </div>
         
          
          <div class="p-2 w-full">
            <div class="relative">
              <label class="leading-7 text-sm text-gray-600"
                >{{form.password1.label}}</label
              >
              {{form.password1 }}
               {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                <p style="font-size: 13px;" class="text-red-500 my-2">
                    {{ error|escape }}
                </p>
                {% endfor %}
                {% endif %}
            </div>
          </div>
         
          <div class="p-2 w-full">
            <div class="relative">
              <label class="leading-7 text-sm text-gray-600"
                >{{form.password2.label}}</label
              >
              {{form.password2 }}
               {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                <p style="font-size: 13px;" class="text-red-500 my-2">
                    {{ error|escape }}
                </p>
                {% endfor %}
                {% endif %}
            </div>
          </div>
         
          
         
        </div>
       
        <div class="p-2 w-full">
          <input
            type="submit"
            class="flex mx-auto mt-4 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            value="Register"
          />
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock content %}
