{% extends 'main.html' %}

{% block header %} Lead List {% endblock %}

{% block title %}
<h1>This is all of our leads</h1>
{% endblock %}

{% block content %}

<div class="lead-cont">
{% for lead in leads %}
<div class="lead">
  <div>
    <h4>First Name</h4>
    <p>{{lead.first_name}}</p>
  </div>
  <div>
    <h4>Last Name</h4>
    <p>{{lead.last_name}}</p>
  </div>
  <div>
    <h4>Age</h4>
    <p>{{lead.age}}</p>
  </div>
  <!-- <div>
    <h4>Agent email</h4>
    <p>{{lead.agent}}</p>
  </div> -->
  <p class="btns">
    <span><a href="">update</a></span>
    <span><a href="{% url 'leads:delete' lead.id %}">delete</a></span>
  </p>
</div>
{% endfor %}
</div>


<a href="{% url 'leads:create' %}">Create new lead</a>
{% endblock %}
