{% extends 'main.html' %} 

{% block header %} Update Lead {% endblock header %}


{% block title %}
<h1>Update Lead {{lead.id}}</h1>
{% endblock title %} 

{% block content %}
<form method="POST" class="form">
    {% csrf_token %}
    <div>
        <label>{{form.first_name.label}}</label>
        {{form.first_name }}
    </div>
    <div>
        <label>{{form.last_name.label}}</label>
        {{form.last_name }}
    </div>
    <div>
        <label>{{form.age.label}}</label>
        {{form.age }}
    </div>
    <div>
        <label>{{form.agent.label}}</label>
        {{form.agent }}
    </div>
    <input type="submit" value="Submit"/>
</form>
{% endblock content %}
