<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block header %}{% endblock header %}</title>
  </head>
  <body>
   <h1>Home Page of the app</h1>
   <hr>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod repellat iure officia molestias harum a omnis inventore quia accusamus quis sapiente doloribus consequuntur, ea facere vel sit! Deserunt dolor odio dolorem eveniet saepe amet laborum rerum, quasi cupiditate pariatur quos hic cum obcaecati dolores rem ad maxime ipsam illum excepturi!</p>
  </body>
</html>
