{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block header %}{% endblock header %}</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% include 'hero.html' %}
    {% include 'content.html' %}
    {% include 'feature.html' %}
    {% include 'pricing.html' %}
    {% include 'testimonial.html' %}
    {% include 'cta.html' %}
    {% include 'contact.html' %}
    {% include 'footer.html' %}

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
